{% extends "base.html" %}

{% block content %}
<h1 class="title">All Books</h1>

<p><a href="{% url 'add_book' %}">Add New Book</a> </p>

<div class="content">
{% for book in book %}
<div class="box">
    <a href= {% url 'book_detail' pk=book.pk %}> {{ book.title }}</a></h3>
    <p> by: {{ book.author }}</p>
    <p> {{ book.desription}}</p>
    <p> <a href="{{book.url}}">Link to book</a></p>
    <p> {{ book.created_at }}</p>
    <p> {{ book.topic }} </p>
    
    <a class= "content is-small" href="{% url 'edit_book' pk=book.pk %}">Edit book</a><br>
    <a class="red content is-small" href="{% url 'delete_book' pk=book.pk %}">Delete book</a>
    </p>
</div> <!--end of second one, box -->

{% endfor %}
</div> <!-- end of first div -->
{% endblock %}